@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Ubuntu&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    outline: none;
}
:root {
	--blanco: #fff;
    --blancooscuro: #f8f8f8;
	--negro: #222;
    --color1: #121730;
    --color2: #224071;
    --color3: #4670bf;
    --color4: #6da0e4;
}
@media (prefers-color-scheme: dark){
    :root {
        --blanco: #232323;
        --blancooscuro: #292929;
        --negro: #dfdfdf;
        --color1: #122d44;
        --color2: #124f79;
        --color3: #1a7cb4;
        --color4: #20b1d8;
    }
}
.grid__container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 60px 50vh 1fr 8%;
	grid-template-areas:
		'header header'
		'main main'
		'section aside'
		'footer footer';
}
/*Encabezado*/
header {
	grid-area: header;
	background-color: var(--blanco);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Nav*/
.nav {
    margin-right: 1em;
    font-family: 'Raleway';
}
.nav__burger {
    display: none;
}
.ul__items {
    display: inline-block;
    list-style: none;
}
.a_item {
    padding: .2rem;
    color: var(--negro);
    text-decoration: none;
    transition: .2s ease;
}
.a_item:hover, .a_item:active, .a_item:focus {
    background-color: var(--blancooscuro);
    color: var(--color4);
}
.a_item i {
    padding-left: .3rem;
    font-size: .8rem;
}
.menu {
    list-style: none;
}
.menu > li > a{
    display: block;
    padding: 17px 31px;
    color: var(--negro);
}
.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 7.9em;
    background-color: #0005;
}
.menu li:hover .menu__vertical {
    display: block;
}
.menu__vertical li {
    transition: all 150ms ease;
}
.menu__vertical li:hover {
    background-color: var(--color4);
} 
.menu__vertical li a {
    transition: all .5s ease;
    display: block;
    color: white;
    padding: 10px 15px 10px;
    text-decoration: none;
}
.toggle {
    color: var(--negro);
    background: none;
    border: none;
    font-size: 1.5rem;
    display: none;
    margin-left: .5em;
}
/*Cierre*/
.logo {
    display: flex;
    margin-left: .5em;
}
.logo h1 {
    color: var(--negro);
    font-size: 1.4rem;
}
.U__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--negro);
	background-color: var(--color4);
	height: 30px;
	width: 30px;
	margin: 0.3rem;
}
header h2 {
    color: var(--negro);
    font-size: 1.6rem;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
}
/*Inicio*/
.main {
	grid-area: main;
	background: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVzYXJyb2xsbyUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    z-index: -2;
}
.main__container--1 {
    color: var(--negro);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(3px) saturate(1.5);
    z-index: -1;
}
.main__container--1 h2{
    margin-left: .4em;
    font-size: 2.5rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: #fff;
}
.main__container--1 p{
    margin-left: 1em;
    font-family: 'Poppins';
    color: #fff;
}
.main__container--2 {
    height: 100%;
    width: 50%;
    filter: saturate(0.5px);
}
.main__container--2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*Contenido*/
section {
	grid-area: section;
	background-color: var(--blanco);
    padding: 1.5em 2.5em;
    height: 100%;
}
section h3 {
    font-size: 1.3rem;
    color: var(--negro);
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    background-color: var(--color4);
    padding: .2em 0em;
    margin: 1em 0em;
}
section img {
    height: max-content;
    width: 100%;
    margin-bottom: 1em;
}
section p {
    color: var(--negro);
    font-weight: lighter;
    font-size: 1rem;
    font-family: 'Poppins';
}
/*Lateral*/
aside {
	grid-area: aside;
	background-color: var(--blancooscuro);
    padding: 1rem .5rem;
    color: var(--negro);
    font-family: 'Ubuntu',monospace;
}
.more__content {
    margin: .3em 0em;
    background-color: var(--blanco);
    height: max-content;
    padding: .3rem;
}
.more__item {
    height: 150px;
    width: 100%;
    background-color: var(--negro);
    margin: .5em 0em;
}
.tag__content li {
    margin: .5em 0em;
    padding: .5rem;
    background-color: var(--blanco);
    color: var(--negro);
}
.tag__content i {
    padding: 0rem .3rem;
}
.tag:hover{
    background-color: var(--color3);
}
/*Pie de pagina*/
footer {
	grid-area: footer;
	background-color: var(--color1);
}
.logo-2 {
    display: flex;
    justify-content: center;
    margin: .5em 0em;
}
.logo-2 h4 {
    color: #fff;
    font-size: 1.4rem;
}
.U__icon-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--negro);
	background-color: var(--color4);
	height: 30px;
	width: 30px;
	margin: 0.3rem;
}
.sobre__mi {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre__mi h5{
    color: var(--color4);
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
}
.contacs {
    width: 45%;
    height: 100%;
    margin: 0em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redes {
    width: 45%;
    height: 100%;
    margin: 0em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.icons button {
    background-color: var(--blanco);
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: .5em 0em;
}
.icons i {
    color: var(--negro);
    font-size: 1rem;
}
.icon-1:hover,.icon-1:active{
    background-color: #292929;
}
.icon-1:hover > i,.icon-1:active > i {
    color: #fff;
}
.icon-2:hover,.icon-2:active{
    background-color: #0075b5;
}
.icon-2:hover > i ,.icon-2:active > i {
    color: #fff;
}
.icon-3:hover,.icon-3:active{
    background-image: linear-gradient(45deg,var(--color4),var(--color3));
}
.icon-3:hover > i ,.icon-3:active > i {
    color: #fff;
}
.icon-4:hover,.icon-4:active{
    background-image: linear-gradient(190deg, #00ffff 0, #21e0ff 25%, #3cb5f2 50%, #408cbb 75%, #3b6788 100%);
}
.icon-4:hover > i ,.icon-4:active > i {
    color: #fff;
}
.icon-5:hover,.icon-5:active{
    background-image: linear-gradient(195deg, #ff7b8f 0, #ff6d9f 8.33%, #ff61ab 16.67%, #ff55b4 25%, #ff4cb9 33.33%, #ff43b9 41.67%, #f23cb5 50%, #ce36ae 58.33%, #ac34a7 66.67%, #8e32a1 75%, #72329c 83.33%, #563397 91.67%, #393495 100%);
}
.icon-5:hover > i ,.icon-5:active > i {
    color: #fff;
}
.icon-6:hover,.icon-6:active{
    background-image: radial-gradient(circle at 90.56% -7.92%, #ff9348 0, #ff8649 12.5%, #ff7447 25%, #ff5d43 37.5%, #f23c3c 50%, #e30037 62.5%, #d80037 75%, #cf003a 87.5%, #c90041 100%);
}
.icon-6:hover > i ,.icon-6:active > i {
    color: #fff;
}
.icon-7:hover,.icon-7:active{
    background-image: radial-gradient(circle at 68.3% -18.3%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
}
.icon-7:hover > i ,.icon-7:active > i {
    color: #fff;
}
@media (max-width: 768px) {
	.grid__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 60px 50vh 5fr 3fr 8%;
		grid-template-areas:
			'header header'
			'main main'
			'section section'
			'aside aside'
			'footer footer';
        }
        header {
            height: 60px;
        }
        .nav__burger {
            display: block;
        }
        .nav__ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: var(--color4);
            position: fixed;
            left: 0;
            top: 60px;
            width: 100%;
            padding: .3rem 0px;
            height: calc(100% - 60px);
            overflow-y: auto;
            left: -100%;
            transition: left .3s ease-in;
        }
        .ul__items {
            line-height: 80px;
        }
        .a_item {
            padding: .3rem;
            color: var(--negro);
            text-decoration: none;
            background-color: var(--color4);
            border: transparent;
        }
        .a_item {
            line-height: 10px;
            padding: 6px 8px;
            transition: .2s ease;
        }
        .a_item:hover,
        .a_item:active,     
        .a_item:focus {
            background-color: var(--blanco );
            color: var(--negro);
        }
        .toggle {
            display: inline-block;
            margin-right: 1rem;
            cursor: pointer;
        }
        .nav__deplegable {
            display: none;
        }
        .nav__ul--visible {
            left: 0;
        }
        /*Inicio*/
        .main__container--1 {
            width: 100%;
            backdrop-filter: blur(3px) saturate(1.5);
        }
        /*Pie*/
        .sobre__mi {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contacs {
            width: 90%;
            margin: 1em 0em;
        }
        .redes {
            width: 90%;
            margin: 1em 0em;
        }
}

