@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Ubuntu&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    outline: none;
}
:root {
	--blanco: #fff;
    --blancooscuro: #f8f8f8;
	--negro: #222;
	--color1: #000000;
	--color2: #3D0000;
	--color3: #950101;
	--color4: #FF0000;
}
@media (prefers-color-scheme: dark){
    :root {
        --blanco: #232323;
        --blancooscuro: #292929;
        --negro: #dfdfdf;
        --color1: #420516;
        --color2: #7D1935;
        --color3: #B42B51;
        --color4: #E63E6D;
    }
}
.grid__container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 80px 50vh 90% 10%;
	grid-template-areas:
		'header header'
		'main main'
		'section aside'
		'footer footer';
}
/*Encabezado*/
header {
	grid-area: header;
	background-color: var(--blanco);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Nav*/
.nav {
    margin-right: 1em;
    font-family: 'Raleway';
}
.nav__burger {
    display: none;
}
.ul__items {
    display: inline-block;
    list-style: none;
}
.a_item {
    padding: .2rem;
    color: var(--negro);
    text-decoration: none;
    background-color: var(--blancooscuro);
    transition: .2s ease;
}
.a_item:hover, .a_item:active, .a_item:focus {
    color: var(--color4);
}
.a_item i {
    padding-left: .3rem;
    font-size: .8rem;
}
.menu {
    list-style: none;
}
.menu > li > a{
    display: block;
    padding: 15px 31px;
    color: var(--negro);
}
.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 7.9em;
    background-color: #0005;
}
.menu li:hover .menu__vertical {
    display: block;
}
.menu__vertical li {
    transition: all 150ms ease;
}
.menu__vertical li:hover {
    background-color: var(--color4);
} 
.menu__vertical li a {
    transition: all .5s ease;
    display: block;
    color: white;
    padding: 10px 15px 10px;
    text-decoration: none;
}
.toggle {
    color: var(--negro);
    background: none;
    border: none;
    font-size: 1.5rem;
    display: none;
    margin-left: .5em;
}
/*Cierre*/
.logo {
    display: flex;
    margin-left: .5em;
}
.logo h1 {
    color: var(--negro);
    font-size: 1.4rem;
}
.U__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--negro);
	background-color: var(--color4);
	height: 30px;
	width: 30px;
	margin: 0.3rem;
}
header h2 {
    color: var(--negro);
    font-size: 1.6rem;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
}
/*Inicio*/
.main {
	grid-area: main;
	background: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVzYXJyb2xsbyUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    z-index: -2;
}
.main__container--1 {
    color: var(--negro);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(3px) saturate(1.5);
    z-index: -1;
}
.main__container--1 h2{
    margin-left: .4em;
    font-size: 2.5rem;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.main__container--1 p{
    margin-left: 1em;
    font-family: 'Poppins';
}
.main__container--2 {
    height: 100%;
    width: 50%;
    filter: saturate(0.5px);
}
.main__container--2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*Contenido*/
section {
	grid-area: section;
	background-color: var(--blanco);
    padding: 1.5em 2.5em;
}
section h3 {
    font-size: 1.3rem;
    color: var(--negro);
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    background-color: var(--color4);
    padding: .2em 0em;
    margin: 1em 0em;
}
section img {
    height: max-content;
    width: 100%;
    margin-bottom: 1em;
}
section p {
    color: var(--negro);
    font-weight: lighter;
    font-size: 1rem;
    font-family: 'Poppins';
}
aside {
	grid-area: aside;
	background-color: var(--blancooscuro);
    z-index: -1;
}
footer {
	grid-area: footer;
	background-color: var(--color4);
}
@media (max-width: 768px) {
	.grid__container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 60px 50vh 100% 100% 10%;
		grid-template-areas:
			'header header'
			'main main'
			'section section'
			'aside aside'
			'footer footer';
        }
        header {
            height: 60px;
        }
        .nav__burger {
            display: block;
        }
        .nav__ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: var(--color4);
            position: fixed;
            left: 0;
            top: 60px;
            width: 100%;
            padding: .3rem 0px;
            height: calc(100% - 60px);
            overflow-y: auto;
            left: -100%;
            transition: left .3s ease-in;
        }
        .ul__items {
            line-height: 80px;
        }
        .a_item {
            padding: .3rem;
            color: var(--negro);
            text-decoration: none;
            background-color: var(--color4);
            border: transparent;
        }
        .a_item {
            line-height: 10px;
            padding: 6px 8px;
            transition: .2s ease;
        }
        .a_item:hover,
        .a_item:active,     
        .a_item:focus {
            background-color: var(--blanco );
            color: var(--negro);
        }
        .toggle {
            display: inline-block;
            margin-right: 1rem;
            cursor: pointer;
        }
        .nav__deplegable {
            display: none;
        }
        .nav__ul--visible {
            left: 0;
        }
}

